#name {
    background-color: none;
}

.wronginput {
    background-color: pink;
}

.medianinfo {
    font-size: small;
}

#median2info, #uniqnames {
    padding-bottom: 5vh;
}

#appchart {
    padding-top: 3vh;
}